set default="hyperos"
set timeout=5
set gfxmode=auto
set gfxpayload=keep

insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png
insmod part_gpt
insmod ext2

loadfont /usr/share/grub/unicode.pf2

# HyperOS GRUB theme (future)
# set theme=/boot/grub/themes/hyperos/theme.txt

menuentry "HyperOS Live" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisolabel=HYPEROS_202607
    initrd /arch/boot/x86_64/intel-ucode.img /arch/boot/x86_64/amd-ucode.img /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "HyperOS Live (nomodeset)" {
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisolabel=HYPEROS_202607 nomodeset
    initrd /arch/boot/x86_64/intel-ucode.img /arch/boot/x86_64/amd-ucode.img /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
