# syslinux configuration for HyperOS
SERIAL 0 115200
PROMPT 1
TIMEOUT 50

DEFAULT hyperos

LABEL hyperos
    LINUX ../../arch/boot/x86_64/vmlinuz-linux-zen
    INITRD ../../arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=HYPEROS_202607 quiet splash

LABEL hyperos-nofb
    LINUX ../../arch/boot/x86_64/vmlinuz-linux-zen
    INITRD ../../arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=HYPEROS_202607 nomodeset

LABEL memtest
    LINUX ../memtest86+/memtest.bin

LABEL hdt
    COM32 hdt.c32

LABEL reboot
    COM32 reboot.c32

LABEL poweroff
    COM32 poweroff.c32
