# ISOLINUX configuration for HyperOS
UI menu.c32
PROMPT 0
MENU TITLE HyperOS Live
TIMEOUT 50

DEFAULT hyperos

LABEL hyperos
    MENU LABEL ^HyperOS Live
    LINUX ../vmlinuz-linux-zen
    INITRD ../initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=HYPEROS_202607

LABEL hyperos-nofb
    MENU LABEL HyperOS Live (nomodeset)
    LINUX ../vmlinuz-linux-zen
    INITRD ../initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=HYPEROS_202607 nomodeset

LABEL memtest
    MENU LABEL Memtest86+
    LINUX ../memtest86+/memtest.bin

LABEL reboot
    MENU LABEL Reboot
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Power Off
    COM32 poweroff.c32
